*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Roboto',sans-serif;
     margin: 0;
}


h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}

button{
    font-size: 1.5em;
    font-size: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(75, 130, 231);

}

button:hover{
    background-color: rgb(50, 98, 187);
}

.container{
    max-width:1400px;   
    margin: auto;

}

.color-acento{color:rgb(37, 73, 138)}

header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra para diferenciar del resto de la página */
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(37, 73, 138);
    font-size: 1.6em;
    
}

header .container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header nav.active {
    display: flex;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

header a:hover{
    color: rgb(37, 73, 138);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 40px; /* Aumentar el tamaño del botón */
    width: 50px;  /* Aumentar el tamaño del botón */
    padding: 10px; /* Agregar padding */
}

.menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 3px 0; /* Agregar margen entre las líneas */
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    header nav {
        display: none;
        flex-direction: column;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    header nav.active {
        display: flex;
        opacity: 1;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/i1.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#hero h1{
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

#hero button{
    font-size: 1.75em; 
}


#SomosIntensamente .container{
    text-align: center;
    padding: 200px 12px;
}

#SomosIntensamente h2 {
    margin-top: 0px;
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5); /* Aplicar sombra solo al texto */
}

#SomosIntensamente p {
    margin-top: 0px;
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5); /* Aplicar sombra solo al texto */
}

#SomosIntensamente a {
    font-size: 1.25em; /* Mismo tamaño de fuente que los párrafos */
    color: inherit; /* Heredar el color del texto circundante */
    text-decoration: none; /* Quitar el subrayado */
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

#SomosIntensamente a:hover {
    text-decoration: underline; /* Añadir subrayado al pasar el ratón */
}

/*-------------------------------------------*/

.logo-img {
    height: 90px; /* Ajusta el tamaño según sea necesario */
    margin-right: 20px;
}

/* Estilos para la galería */

#galeria h1{
    font-size: 1.5em;
}


#galeria {
    padding: 0px 0;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#galeria .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#galeria .gallery-item {
    flex: 1 1 calc(100% - 20px); /* Mostrar solo una imagen por fila en versión móvil */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5); /* Añadir sombra */
    margin: 10px;
    border-radius: 40px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#galeria .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/*estilos para la sección de ubicación */

#ubicacion {
    padding: 20px 0; /* Reducir el padding para que no esté tan separado */
    text-align: center;
    background-color: #f0f0f0; /* Cambiar el color de fondo */
}

#ubicacion h2 {
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3); /* Añadir sombra solo al texto */
}

#ubicacion iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5); /* Añadir sombra */
}


/* Estilos para la lista de profesionales */
#profesionales {
    padding: 50px 0;
    text-align: center;
}

#profesionales .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profesionales .profesional {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
}

#profesionales .profesional img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

#profesionales .profesional .info {
    text-align: center;
    padding: 0;
}

#profesionales .profesional .info h2 {
    margin: 10px 0 5px;
    font-size: 1.5em;
}

#profesionales .profesional .info p {
    margin: 5px 0 0;
    font-size: 1em;
}

#profesionales h1 {
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p,
.footer-section a {
    margin: 5px 0;
    color: #ccc;
    text-decoration: none;
    
}

.footer-section a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.footer-bottom p {
    font-size: 0.75em;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }


    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #SomosIntensamente .container{
        display: flex;
        justify-content: center;

    }
    
    

    #SomosIntensamente .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #SomosIntensamente .texto p {
        font-size: 2em; /* Agranda el tamaño de la fuente del párrafo */
    }

    #SomosIntensamente .texto a {
        font-size: 2em; /* Agranda el tamaño de la fuente del párrafo */
    }

    #SomosIntensamente h2{
        margin-top: 0px;
    }

    #SomosIntensamente .img-container {
        background-image: url("../media/consultorio.jpeg"); 
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);

    

    }

    #profesionales {
        padding: 50px 0;
        text-align: center;
    }
    
    #profesionales .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #profesionales .profesional {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
        max-width: 800px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
    }
    
    #profesionales .profesional img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin: 20px;
    }
    
    #profesionales .profesional .info {
        text-align: left;
        padding: 20px;
    }
    
    #profesionales .profesional .info h2 {
        margin: 0;
        font-size: 1.8em;
    }
    
    #profesionales .profesional .info p {
        margin: 10px 0 0;
        font-size: 1.2em;
    }

    #profesionales h1 {
        font-size: 3.5em;
    }

    #galeria h1{
        font-size: 3.5em;
    }

    #galeria .gallery-item {
        flex: 1 1 calc(40% - 20px); /* Cambiar a 50% para mostrar 2 imágenes por fila en pantallas más grandes */
    }

    #galeria {
        padding: 50px 0;
    }
    
    .footer-bottom p {
        font-size: 1em; 
    }

}

