{% extends './layout.html' %}

{% block title %}Intensamente Consultorio{% endblock %}

{% block body %}
    

<section id="hero">
    <h1> Centro Integral Del Desarrollo <br> IntensaMente </h1>
    <!-- <button>AGENDA UN TURNO</button> -->
</section>

<section id="SomosIntensamente">  
  <div class="container">
    <div class="img-container"></div>
    <div class="texto">
    <h2> <span 
        class="color-acento">¡SOBRE NOSOTROS!<span>
        </h2>
     <p>📍Somos un equipo de profesionales especializados en transtornos del desarrollo.</p>
     <p>📍Nos encontramos en Valentin Alsina 410, Adrogue, Provincia de Buenos Aires.</p>
     <a href="https://wa.me/5491122605695?text=Hola%2C%20quiero%20sacar%20un%20turno" target="_blank">
      📍Contactar por WhatsApp
      </a>
    </div>
</div>
</section>

<section id="ubicacion">
  <div class="container">
    <h2>¡Ubicación!</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.2454750887555!2d-58.40355662487365!3d-34.799765567877266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd3137781d61b%3A0x14dbffd3e6493d37!2sValent%C3%ADn%20Alsina%20410%2C%20B1846%20Adrogu%C3%A9%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1740505644757!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>



{% endblock %}
