<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const navMenu = document.querySelector('#nav-menu');
            menuToggle.addEventListener('click', function() {
                navMenu.classList.toggle('active');
            });
        });
    </script>
</head>

<header>
    <div class="container">
        <img src="{{ url_for('static', filename='media/logo.jpeg') }}" alt="Logo MercadoLibreGuitar" class="logo-img">
        <button class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button> <!-- Botón de menú para móvil -->
        <nav id="nav-menu">
            <a href="{{ url_for('home') }}">Inicio</a>
            <a href="{{ url_for('galeria') }}">Galeria</a>

            <a href="{{ url_for('especialidades') }}">Nuestras Especialidades</a>
            <a href="{{ url_for('talleres') }}">Talleres</a>
            <a href="https://wa.me/5491122605695?text=Hola%2C%20quiero%20sacar%20un%20turno">Nuestro WhatsApp</a>
        </nav>
    </div>
</header>

<body>
    {% block body %}
    {% endblock %}
</body>


<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Contacto</h4>
            <p>Dirección: Valentin Alsina 410, Adrogue</p>
            <p>Teléfono: +54 9 11 22605695</p>
            <p>Email: intensamenteadrogue@gmail.com </p>
        </div>
        <div class="footer-section">
            <h4>Seguinos!</h4>
            <a href="https://www.instagram.com/intensamenteadrogue" target="_blank">Instagram</a>
        </div>
        <div class="footer-section">
            <h4>Enlaces Útiles</h4>
            <a href="{{ url_for('home') }}">Inicio</a>
            <a href="{{ url_for('galeria') }}">Galeria</a>
            <a href="{{ url_for('especialidades') }}">Nuestras Especialidades</a>
            <a href="{{ url_for('talleres') }}">Talleres</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; Creado y diseñado por Matias Pacini. Contacto: matiaspacini052@gmail.com</p>
    </div>
</footer>


</html>
